body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#outline {
  height: 400px;
  width:400px;
  background-color:  #6fcece;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}

#inline {
  padding: 30px;
}
.circle {
  position: relative;
  display:inline-block;
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 10px;
  animation:rotationcircle 1s ease-in-out;
}

.square {
  display:inline-block;
  height:50px;
  width: 10px;
  background-color:white;
}


#sq1 {
  animation:squarescale 0.9s ease-in-out infinite;
}
#sq2 {
  animation:squarescale 0.9s 0.12s ease-in-out infinite;
}
#sq3 {
  animation:squarescale 0.9s 0.24s ease-in-out infinite;
}
#sq4 {
  animation:squarescale 0.9s 0.36s ease-in-out infinite;
}
#sq5 {
  animation:squarescale 0.9s 0.48s ease-in-out infinite;
}

#cl1 {
 animation:circlemove1 0.9s ease-in-out infinite ;
}

#cl3 {
  animation: circlemove3 0.9s ease-in-out infinite;
}


@keyframes circlemove1 {
  0% {
    transform: rotate(60deg) translate(0px);
  }

  100% {
    transform: rotate(180deg) translate(-72px);
    
  }
}

@keyframes circlemove3 {
  0% {
    transform: rotate(60deg) translate(0px);
  }

  100% {
    transform: rotate(180deg) translate(72px);
    
  }
}


@keyframes squarescale {
  0% {
    transform : scaleY(100%);
  }
  30% {
    transform:scaleY(200%);
  }
  50% {
    transform:scaleY(100%);
  }
  100% {
    transform : scaleY(100%);
  }
}

