.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 20px;
  align-items: center;
  opacity: 90%;
  margin-bottom: 15px;
}

.screen-header__icons span {
  position: relative;
  margin-left: 25px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
